.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: $color-black;
}

// BACKGROUND
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/background-desktop.jpg');
  opacity: 0.5;
  z-index: 1;
}

// ANCIENT

.ansient {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  z-index: 2;
}

.ancient__list {
  display: flex;
  justify-content: center;
}

.button__ancient {
  margin: 1rem;
  width: 15.625rem;
  border: 0;
  border-radius: 0.625rem;
  background-color: transparent;
  transform: translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.5s, box-shadow 0.3s;
  box-shadow: 0 0.3125rem 1.75rem rgba(255, 255, 255, 0.3);

  &.visible {
    transform: translateY(0);
    opacity: 0.8;
  }

  &:hover {
    box-shadow: 0 0.3125rem 1.75rem rgba(255, 255, 255, 0.7);
    opacity: 1;
  }

  &.active {
    box-shadow: 0 0.3125rem 2rem rgba(243, 32, 32, 0.8);
    opacity: 1;
  }
}

.ancient__card {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

// GAME
.game {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.levels__list {

}

.levels__item {
  margin: 1rem;
}

.level__button {
  width: 10.625rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  color: $color-black;
  transform: translateX(0);
  visibility: visible;
  opacity: 0.8;
  transition: background-color 0.3s, transform 0.5s, box-shadow 0.3s;
  box-shadow: 0 0.125rem 0.625rem rgba(255, 255, 255, 0.3);
  cursor: pointer;

  &.hidden {
    transform: translateX(-2rem);
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0.125rem 0.625rem rgba(255, 255, 255, 0.6);
    opacity: 1;
  }

  &.active, &:active {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0.125rem 1rem rgba(243, 32, 32, 0.8);
    color: $color-white;
    opacity: 1;
  }
}

// SHIFFLE
.shuffle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

// TABLE
.table {
  margin-left: 5rem;
}

.table__row {
  display: flex;
}

.table__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  height: 1.5rem;
  border-radius: 0.1875rem;
  font-size: 1rem;
  color: $color-white;
  opacity: 0.7;
}

.table__cell--green {
  width: 1.875rem;
  background-color: green;
}

.table__cell--brown {
  width: 1.875rem;
  background-color: brown;
}

.table__cell--blue {
  width: 1.875rem;
  background-color: blue;
}