section.content
  .ansient
    ul.ancient__list
      li.ancient__item
        button.button.button__ancient#azathoth
          img(src="./images/Azathoth.png", alt="").ancient__card
      li.ancient__item
        button.button.button__ancient#cthulthu
          img(src="./images/Cthulthu.png", alt="").ancient__card
      li.ancient__item
        button.button.button__ancient#iogSothoth
          img(src="./images/IogSothoth.png", alt="").ancient__card
      li.ancient__item
        button.button.button__ancient#shubNiggurath
          img(src="./images/ShubNiggurath.png", alt="").ancient__card
  .game
    ul.levels__list
      ul.levels__item
        button.button.level__button#levelVeryEasy Very Easy
      ul.levels__item
        button.button.level__button#levelEasy Easy
      ul.levels__item
        button.button.level__button#levelNormal Normal
      ul.levels__item
        button.button.level__button#levelHard Hard
      ul.levels__item
        button.button.level__button#levelVeryHard Very Hard
