.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  background-image: url('/images/background-main.png');
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url('/images/background-desktop.jpg');
  background-size: cover, cover;
  background-position: 50% 100%, 50% 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 1;
  animation: lightning;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes lightning {
  0% {
    opacity: 0.5;
  }
  15% {
    opacity: 0.1;
    background-image: url('/images/background-desktop.jpg');
  }
  16% {
    opacity: 0.8;
    background-image: url('/images/lighting-right.svg'), url('/images/background-desktop.jpg');
  }
  16.5% {
    opacity: 0.5;
    background-image: url('/images/background-desktop.jpg');
  }
  45% {
    opacity: 0.1;
    background-image: url('/images/background-desktop.jpg');
  }
  46% {
    opacity: 0.8;
    background-image: url('/images/lighting-right.svg'), url('/images/background-desktop.jpg');
  }
  46.5% {
    opacity: 0.5;
    background-image: url('/images/background-desktop.jpg');
  }
  48% {
    opacity: 0.2;
    background-image: url('/images/background-desktop.jpg');
  }
  49% {
    opacity: 0.8;
    background-image: url('/images/lighting-left.svg'), url('/images/background-desktop.jpg');
  }
  49.5% {
    opacity: 0.5;
    background-image: url('/images/background-desktop.jpg');
  }
  70% {
    opacity: 0.1;
    background-image: url('/images/background-desktop.jpg');
  }
  71% {
    opacity: 0.8;
    background-image: url('/images/lighting-left.svg'), url('/images/background-desktop.jpg');
  }
  71.5% {
    opacity: 0.5;
    background-image: url('/images/background-desktop.jpg');
  }
  85% {
    opacity: 0.1;
    background-image: url('/images/background-desktop.jpg');
  }
  86% {
    opacity: 0.8;
    background-image: url('/images/lighting-right.svg'), url('/images/background-desktop.jpg');
  }
  86.5% {
    opacity: 0.5;
    background-image: url('/images/background-desktop.jpg');
  }
  98% {
    opacity: 0.1;
    background-image: url('/images/background-desktop.jpg');
  }
  99% {
    opacity: 0.8;
    background-image: url('/images/lighting-left.svg'), url('/images/background-desktop.jpg');
  }
  99.5% {
    opacity: 0.5;
    background-image: url('/images/background-desktop.jpg');
  }
}

.contaiter {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.5s;

  &.visible {
    opacity: 1;
  }

  &.block {
    display: flex;
  }
}

@include media-netbook {

  .contaiter {
    padding: 1rem;
  }
}

@import './ancient';
@import './levels';
@import './cards';
@import './table';