section.content
  .background

  section.contaiter#containerAncient
    .title.title--h2 Step 1 - Select Ancient Set
    ul.ancient__list
      li.ancient__item
        button.button.button--ancient#azathoth
          img(src="./images/Azathoth.png", alt="").ancient__card
      li.ancient__item
        button.button.button--ancient#cthulthu
          img(src="./images/Cthulthu.png", alt="").ancient__card
      li.ancient__item
        button.button.button--ancient#iogSothoth
          img(src="./images/IogSothoth.png", alt="").ancient__card
      li.ancient__item
        button.button.button--ancient#shubNiggurath
          img(src="./images/ShubNiggurath.png", alt="").ancient__card

  section.contaiter#containerLevel
    .title.title--h2 Step 2 - Select Game Difficulty
    ul.levels__list
      ul.levels__item
        button.button.button--primary.button--level.hidden#levelVeryEasy Very Easy
      ul.levels__item
        button.button.button--primary.button--level.hidden#levelEasy Easy
      ul.levels__item
        button.button.button--primary.button--level.hidden#levelNormal Normal
      ul.levels__item
        button.button.button--primary.button--level.hidden#levelHard Hard
      ul.levels__item
        button.button.button--primary.button--level.hidden#levelVeryHard Very Hard

  section.contaiter#containerShuffle
    .title.title--h2 Step 3 - Shuffle Cards Well
    button.button.button--primary.button--shuffle.hidden#buttonShuffle Shiffle


  section.contaiter#containerCards
    .title.title--h2 Step 4 - Destroy Your Enemies

    .table.hidden#tableStat
      .table__row#step1Row
        .table__cell Round 1
        .table__cell.table__cell--green#step1Green
        .table__cell.table__cell--brown#step1Brown
        .table__cell.table__cell--blue#step1Blue
      .table__row#step2Row
        .table__cell Round 2
        .table__cell.table__cell--green#step2Green
        .table__cell.table__cell--brown#step2Brown
        .table__cell.table__cell--blue#step2Blue
      .table__row#step3Row
        .table__cell Round 3
        .table__cell.table__cell--green#step3Green
        .table__cell.table__cell--brown#step3Brown
        .table__cell.table__cell--blue#step3Blue

    .card-set.hidden#setForGame

    button.button.button--primary.button--play-again.hidden#buttonPlayAgain Play Again




